/* container com a perspectiva */
.flip-container {
	perspective: 1000;
	display: inline-block;
	background-color: #363636;
	
}
	/* feito com o hover */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 245px;
	height: 325px;
}

/* velocidade da animação */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
	
}

/* esconder parte de trás do painel durante a troca */
.front, .back {
	backface-visibility: hidden;

	position: absolute;

}

/* coloca o painel frontal acima */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* painel de volta, inicialmente escondido */
.back {
	transform: rotateY(180deg);
	
}

.box{
  width:240px;
  height:320px;
  font-size:70px;
  text-align:center;
  line-height:300px;
  font-family: 'Lato', sans-serif; font-weight:900;
  text-shadow: 1px 1px 1px #fff;
  cursor:pointer;
  
}

.box-front{
  background: #c0c0c0;;
  border: 1px dotted black;
}

.box-back{
	border: 1px dotted black;
}

.footer {
	left: 0;
	bottom: 0;
	height: 70px;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	line-height:70px;
	font-family: 'Lato', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);